
.first-text {
    color: #034DA1;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.second-text {
    color: #299748;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.verify-btn {
    border-radius: 12px;
    background: #034DA1;
    height: 50px;
    width: 90px;

    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    transition: transform 500ms;
}

.verify-btn:active {
  background-color:  #06346d;
  color: #FFF;
  height: 50px;

  transform: translateX(20px);  
}

.input {
  width: 40px;
  height: 50px;
  border: none;
  background: #ffffff;
  margin: 0px 10px;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  cursor: not-allowed;
  pointer-events: none;
  border-radius: 5px;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.input:focus {
  border-bottom: 3px solid rgb(42, 149, 236);
  outline: none;
}

.input:nth-child(1) {
  cursor: pointer;
  pointer-events: all;
}

.cert-pdf {
  margin: auto;
  width: 900px;
  height: 700px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.cert-img {
  background-color: rgba(255, 255, 255, 0);
  display: block;
  width: fit-content;
  height: auto; 
  border-radius: 12px;

  transition: transform 500ms;

  animation: fadeIn 3.0s both;
  -webkit-animation: fadeIn 3.0s both;
  -moz-animation: fadeIn 3.0s both;
  -o-animation: fadeIn 3.0s both;
  
}

.container:hover .cert-img {
  transform: scale(0.9, 0.9);
  filter: blur(4px);
}


@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.skill-card:hover {
  transform: scale(1.5 ,1.5);
  filter: grayscale(5%) blur(5px);
}



.middle {
  transition: .5s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #034DA1;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 12px;
  font-weight: 500;
}

.form-id {
  width: 485px;
  height: 54px;
  flex-shrink: 0;
  margin: auto;

  border-radius: 10px;
  background: #FFF;
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.faculty-btn {
  width: 197px;
  height: 49px;
  flex-shrink: 0;
  margin: auto;
  color: #FFF;
  font-weight: 500;
  font-size: 20px;

  border-radius: 10px;
  background: rgba(3, 77, 161, 0.75);
}

.faculty-btn:hover {

  box-shadow: 0 0.15rem 1.75rem 0 rgba(24, 24, 24, 0.308);
}

.cert-drop {
  width: 828px;
  height: 651px;
  flex-shrink: 0;

  border-radius: 15px;
  background: #FFF;
  border: 1px solid rgba(34, 89, 167, 0.795);
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}

.upload-img {
    height:inherit;
    width:inherit;
}

#custom-file-upload {
    cursor:pointer;
}   

input[type="file"] {
    display: none;
    border:0;
}

.page {
  background-color: #f2f6fc;
}

.header {
  background-color: #ffffff;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.header-text {
  color: #337ab7;
  font-weight: 800;
  font-size: large;
}

.login-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(33, 40, 50, 0.125);
  border-radius: 0.35rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
}

.card-info {
  color: rgb(128, 128, 128);
}

.login {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(33, 40, 50, 0.125);
  border-radius: 0.45rem;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15)
}

.login-top {
  background-color: #337ab7;
  border-top-left-radius: 0.45rem;
  border-top-right-radius: 0.45rem;
  background-clip: border-box;
  border: 1px solid rgba(33, 40, 50, 0.125);
}

.text-field {
  position: relative;
  margin: 10px 2.5px 20px 2.5px;
}


input.login-page-label:focus {

      background-color:#fff;
  }

label.login-page-label {
  color: #999;
  position: absolute;
  pointer-events: none;
  font-weight: 500;
  left: 15px;
  top: 12px;
  transition: 0.2s;
}

input.login-page:focus ~ label, input.login-page:valid ~ label {
  top: -10px;
  left: 15px;
  font-size: small;
  color: #337ab7;
  background-color:#fff;
  padding:0 5px 0 5px;
}