
.first-text {
    color: #034DA1;
    font-family: Inter;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.second-text {
    color: #299748;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.verify-btn {
    border-radius: 12px;
    background: #034DA1;

    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    transition: transform 500ms;
}

.verify-btn:hover {
  background-color:  #dee3e9;
  color: black;

  transform: translateX(20px);  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}